/.idea
*.iml
*.pyc
*.pyc.*
*.bak
*.old
*.orig
.tox
docs/_build
docs/sensai
/sync.py
dist
*.egg-info*
/temp
/temp*.py
/default_console.py
/build
/git-split.sh
/.pytest_cache
data
.coverage
/*.env
/docs-build
/code.sh
/lightning_logs
*.code-workspace
/TODO.txt
notebooks/temp.ipynb
/docs/build