# sensAI main requirements
# These are the pinned lowest versions we test; setup.py relaxes them, changing them to lower bounds
pandas~=1.3.0
scipy~=1.7.0
numpy~=1.21.0
scikit-learn~=1.0.0
seaborn~=0.11.0
